@use "base/variables" as v;
@use "base/mixins" as m;
.webp .footer_donar {
    background-image: url(../img/banner_donativo.webp);
}
.no-webp .footer_donar {
    background-image: url(../img/banner_donativo.png);
}
.footer_donar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .content {
        margin: 0 auto;
        width: min(95%, 90rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 5rem 0;
        @include m.tablet {
            flex-direction: row;
        }
        h1 {
            color: v.$blanco;
            font-weight: bold;
            text-align: center;
            font-size: 4rem;
            @include m.tablet {
                font-size: 5.5rem;
            }
        }
        img {
            max-height: 10rem;
            width: auto;
        }
    }
}
footer {
    margin: 0 auto;
    background-color: v.$negroLuminoso;
    padding: 1.5rem 0;
    .footer_container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: min(95%, 120rem);
        justify-content: space-evenly;
        align-items: stretch;
        gap: 1rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
        .footer_item {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            @include m.tablet {
                text-align: unset;
            }
            p,a {
                display: block;
                color: v.$blanco;
                margin: 0;
                padding: 0;
                font-size: 1.6rem;
                line-height: 1.5;
                img {
                    display: inline-block;
                    height: 1em;
                    width: auto;
                    vertical-align: middle;
                }
            }
            .icons {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 1rem;
                justify-content: center;
                @include m.tablet {
                    justify-content: flex-start;
                }
                img {
                    display: inline-block;
                    height: 2.5rem;
                    width: auto;
                }
            }
        }
    }
}
