@use "base/variables" as v;
@use "base/mixins" as m;

.como-ayudar-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: justify;
    width: min(95%, 120rem);
    flex-direction: column;
    justify-content: space-between;

    @include m.tablet {
        flex-direction: row;
    }

    .como-ayudar_item {
        flex: 0 0 calc(50% - 1.7rem);

        &:last-of-type {
            align-content: center;
        }

        .container {
            margin: 2.5rem;

            h3 {
                margin: 1rem 0 2rem 0;
                color: v.$rojo;
                font-size: 2.5rem;
            }

            p {
                margin-bottom: 2rem;
            }

            a {
                display: inline-block;
                background-color: v.$rojo;
                color: v.$blanco;
                font-size: 2rem;
                font-weight: 700;
                border-radius: 5rem;
                padding: 1rem 1rem;
                cursor: pointer;
            }

            &:last-child {
                padding: 2rem;
            }
        }
    }
}

.informacion-ayudar {
    // animation: fadeIn .5s ease-in-out;
    border-radius: 1.5rem;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .5);
    display: none;
    left: 50%;
    max-height: 90%;
    width: min(95%, 95rem);
    position: absolute;
    /*fixed para fijo, absolute para mitad de pagina*/
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;

    &.active {
        display: block;
    }

    img {
        pointer-events: none;
    }

    .close-btn {
        position: absolute;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        top: .2rem;
        right: .2rem;

        @include m.telefono {
            width: 2.5rem;
            height: 2.5rem;
            top: .5rem;
            right: .5rem;
        }

        @include m.tablet {
            width: 3rem;
            height: 3rem;
            top: 1rem;
            right: 1rem;
        }
    }
}