@use 'base/mixins' as m;
@use 'base/variables' as v;

.donativo {
    width: min(95%, 125rem);
    margin: 2rem auto;

    .superior {
        text-align: center;
        margin-bottom: 1.5rem;

        h3 {
            color: v.$rojo;
            margin: 0;
        }

        p {
            margin: 1rem 0 2rem 0;
        }

        p.leyenda {
            color: v.$rojo !important;
            font-weight: bold;
            margin: 0;
        }

        span {
            color: v.$negro;
            font-weight: normal;
        }

    }

    form.donacion {
        display: flex;
        flex-direction: column;
        background-color: v.$gris;
        border-radius: 1rem;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
        margin-bottom: 2rem;

        p {
            text-align: center;
            font-weight: bold;
            margin: 0;
        }

        .row {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;

            @include m.desktop {
                flex-direction: row;
                flex-wrap: wrap;
            }

            .subrow {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex-wrap: nowrap;
                @include m.desktop {
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                .element {
                    width: 100%;
                    flex: 0 0 calc(50% - 1rem);
                }
            }

            .element {
                flex: 0 0 calc(25% - 1rem);
            }


            select,
            input {
                border: none;
                border-radius: 1rem;
                font-size: 2rem;
                margin-bottom: 2rem;
                padding: 1rem 1.5rem;
            }
        }

        .innerrow {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            input.element{
                flex: 0 0 calc(45% - .05rem) !important;
            } 
            span {
                flex: 0 0 calc(10% - .05rem) !important;
            }    
            .bold {
                text-align: center;
                padding-top: 1rem;
                padding: 1rem 0 !important;
            }
        }

        .foot-row {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @include m.desktop {
                flex-direction: row;
            }

            margin-top: 1rem;

            .element {
                flex: 0 0 calc(50% - 2rem);
                text-align: center;

                button {
                    border: none;
                    border-radius: 5rem;
                    max-width: 40rem;
                    min-width: 22rem;
                    cursor: pointer;
                    margin-bottom: 1rem;
                }
            }
        }

        .terms {
            a {
                color: v.$rojo;
                text-decoration: underline;
            }
        }
    }

    .inferior {
        margin-bottom: 4rem;

        h3 {
            color: v.$rojo;
            text-align: center;
            margin: 0;
        }
    }
}