@use "base/variables" as v;
@use "base/mixins" as m;

.fondo-que-hacemos {
    background-color: v.$gris;
    padding-bottom: 2rem;
}

.que-hacemos-acciones {
    width: min(90%, 97rem);
    margin: 0 auto;

    .menu {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        background-color: v.$gris;
        padding-bottom: 2rem;

        .menu-item {
            flex: 0 0 33.3%; // 100 / 3 elementos que habrá
            width: 100%;
            cursor: pointer;
            padding: 0.5rem 0.5rem 3rem 0.5rem;

            @include m.small {
                padding: 0.7rem 0.7rem 3rem 0.7rem;
            }

            @include m.telefono {
                padding: 1rem 1.5rem 3rem 1.5rem;
            }

            @include m.tablet {
                padding: 1rem 2rem 3rem 2rem;
            }

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1.5rem;
            border-radius: 1rem 1rem 0 0;
            transition: background-color 0.3s,
            border 0.3s;

            &:hover,
            &.active {
                background-color: v.$blanco;
            }

            img {
                max-height: 1.8rem;
                width: auto;

                @include m.small {
                    max-height: 2rem;
                }

                @include m.telefono {
                    max-height: 2.5rem;
                }

                @include m.tablet {
                    max-height: 5rem;
                }
            }

            h3 {
                color: v.$negroLuminoso;
                text-align: center;
                font-size: 1.3rem;

                @include m.small {
                    font-size: 1.4rem;
                }

                @include m.telefono {
                    font-size: 1.65rem;
                }

                @include m.tablet {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .content {
        background-color: v.$blanco;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition:
            opacity 0.5s ease-in-out,
            max-height 0.5s ease-in-out;

        &.active {
            opacity: 1;
            max-height: 400rem;
            border-radius: 1rem;
            margin-top: -3rem;
            padding: 2.5rem;

            &#salud {

                .salud_item_1,
                .salud_item_3 {
                    p {
                        margin-bottom: 1.7rem;
                    }

                    div.container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include m.tablet {
                            flex-direction: row;
                        }
                    }

                    div {
                        flex: 0 0 calc(50% - 2rem);

                        &.salud_element_2 {
                            align-content: flex-start;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 2rem;
                            justify-content: center;
                            margin-bottom: 1.7rem;

                            @include m.tablet {
                                margin-bottom: 0;
                            }

                            picture {
                                width: 15rem;
                                height: 15rem;

                                @include m.tablet {
                                    width: 17rem;
                                    height: 17rem;
                                }

                                @include m.desktop {
                                    width: 19rem;
                                    height: 19rem;
                                }

                                @include m.desktopXL {
                                    width: 21rem;
                                    height: 21rem;
                                }
                            }
                        }
                    }
                }

                .salud_item_3 {
                    margin-top: 1.7rem;

                    .container {
                        .salud_element_1 {
                            position: relative;
                            flex: 0 0 calc(50% - 2rem);

                            @include m.tablet {
                                &:not(:last-child)::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: -3rem;
                                    width: 0.1rem;
                                    /* Grosor de la línea */
                                    height: 100%;
                                    /* Altura de la línea */
                                    background-color: v.$gris;
                                    border-radius: 2px;
                                    /* Bordes curvos */
                                    transform: translateY(-50%);
                                    /* Centrar verticalmente */
                                }
                            }
                        }
                    }
                }

                .salud_item_1 {
                    border-bottom: 0.1rem solid v.$gris;
                }

                .salud_item_2 {
                    margin-top: 1.7rem;

                    img {
                        display: inline-block;
                        height: 1em;
                        vertical-align: middle;
                        width: auto;
                    }

                    .container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 1rem;
                        margin-bottom: 1.7rem;
                    }

                    border-bottom: 0.1rem solid v.$gris;
                }
            }

            &#alimentacion {
                .alimentos_item_1 {
                    border-bottom: 0.1rem solid v.$gris;

                    .container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 1.7rem;

                        @include m.tablet {
                            flex-direction: row;
                            margin-bottom: 0;
                        }

                        * {
                            flex: 0 0 calc(50% - 2rem);
                            align-content: center;
                        }
                    }
                }

                .alimentos_item_2 {
                    border-bottom: 0.1rem solid v.$gris;

                    .container {
                        margin-top: 2rem;
                        margin-bottom: 1.7rem;

                        .alimentacion_element_2 {
                            img {
                                width: 75%;
                                margin: 0 auto;
                                margin-bottom: 1rem;
                            }

                            .item {
                                display: flex;
                                justify-content: space-evenly;

                                * {
                                    flex: 0 0 calc(33.3% - 2rem);
                                    text-align: center;
                                    font-weight: bold;

                                    @include m.small {
                                        font-size: 1rem;
                                    }

                                    @include m.telefono {
                                        font-size: 1.6rem;
                                    }

                                    @include m.tablet {
                                        font-size: 2rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .alimentos_item_3 {
                    margin-top: 1.7rem;

                    .container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 1.7rem;

                        @include m.tablet {
                            flex-direction: row;
                            margin-bottom: 0;
                        }

                        * {
                            flex: 0 0 calc(50% - 2rem);
                        }
                    }
                }

                .alimentacion_element_1 {
                    p {
                        margin-bottom: 1.7rem;
                    }
                    ul {
                        margin: 0;
                        margin-top: 2.5rem;
                        padding: 0 0 0 2rem;
                        color: v.$rojo;

                        span {
                            color: v.$negro;
                            font-size: 2rem;
                        }
                    }
                }
                .alimentacion_element_2 {
                    p {
                        &:first-of-type {
                            margin-bottom: 2rem;
                        }
                        &:last-of-type {
                            margin-top: 2rem;
                        }
                    }
                }
            }
            &#formacion-valores {
                .formacion-valores_item_1, .formacion-valores_item_2 {
                    border-bottom: 0.1rem solid v.$gris;
                    div.container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @include m.tablet {
                            flex-direction: row;
                            margin-bottom: 0;
                        }
                        .alimentacion_element_1, .alimentacion_element_2 {
                            flex: 0 0 calc(50% - 2rem);
                            margin-bottom: 1.3rem;
                            align-content: center;
                        }
                    }
                }
                .formacion-valores_item_2 {
                    margin-top: 2rem;
                }
            }
            h3 {
                color: v.$rojo;
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }

            h4 {
                font-size: 2rem;
                color: v.$rojo;
                text-align: justify;
                margin: 0;
                margin-bottom: 1rem;
            }

            p,
            a {
                &.color-red {
                    color: v.$rojo;
                    font-weight: bold;
                }

                color: v.$negro;
                text-align: justify;
                margin: 0;
            }
        }
    }
}